# Inizializzazione

In [119]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

Biochemical = pd.read_csv("Biochemical_parameters.csv")
Diagnostics = pd.read_csv("Diagnostics.csv")
Glucose = pd.read_csv("Glucose_measurements.csv")
Patient = pd.read_csv("Patient_info.csv")

## Patient

In [19]:
Patient

,Patient_ID,Sex,Birth_year,Initial_measurement_date,Final_measurement_date,Number_of_days_with_measures,Number_of_measurements,Initial_biochemical_parameters_date,Final_biochemical_parameters_date,Number_of_biochemical_parameters,Number_of_diagnostics
0,LIB193263,M,1965,2020-06-09,2022-03-19,648,60097,NaN,NaN,NaN,1.0
1,LIB193264,F,1975,2020-06-10,2022-03-19,326,26786,NaN,NaN,NaN,3.0
2,LIB193265,F,1980,2019-01-27,2022-03-19,581,46575,2018-09-05,2021-10-01,120.0,NaN
3,LIB193266,M,1998,2020-10-08,2022-03-21,500,55307,2020-08-21,2022-02-22,74.0,2.0
4,LIB193267,F,1980,2020-06-09,2022-03-17,647,55500,2018-04-30,2022-01-24,177.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
731,LIB194162,M,1999,2021-03-23,2022-03-19,361,33439,2020-12-15,2020-12-15,12.0,NaN
732,LIB194163,M,1984,2021-09-09,2022-03-19,192,17754,2020-01-09,2022-01-31,64.0,NaN
733,LIB194164,F,1991,2020-06-25,2022-03-18,632,58349,2020-03-06,2022-01-12,158.0,1.0
734,LIB194165,F,1986,2021-05-12,2022-03-21,259,23862,2021-04-14,2022-03-02,22.0,NaN
735,LIB194166,F,1995,2021-03-23,2022-03-17,315,33371,2020-12-10,2022-02-10,40.0,NaN

Analisi delle caratteristiche e delle distribuzioni dei dati

In [22]:
Patient.info()
Patient.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Patient_ID                           736 non-null    object
 1   Sex                                  736 non-null    object
 2   Birth_year                           736 non-null    int64
 3   Initial_measurement_date             736 non-null    object
 4   Final_measurement_date               736 non-null    object
 5   Number_of_days_with_measures         736 non-null    int64
 6   Number_of_measurements               736 non-null    int64
 7   Initial_biochemical_parameters_date  723 non-null    object
 8   Final_biochemical_parameters_date    723 non-null    object
 9   Number_of_biochemical_parameters     723 non-null    float64
 10  Number_of_diagnostics                511 non-null    float64
dtypes: float64(2), int64(3), object(6)
memory usage: 63.4+ KB

,Birth_year,Number_of_days_with_measures,Number_of_measurements,Number_of_biochemical_parameters,Number_of_diagnostics
count,736.000000,736.000000,736.000000,723.000000,511.000000
mean,1976.663043,350.244565,30802.951087,120.998617,3.438356
std,15.772724,284.146680,25704.868842,87.834182,2.946519
min,1936.000000,8.000000,400.000000,4.000000,1.000000
25%,1965.000000,122.000000,10673.000000,75.000000,1.000000
50%,1977.000000,286.000000,25002.500000,107.000000,3.000000
75%,1990.000000,525.000000,45686.500000,137.000000,4.000000
max,2005.000000,1463.000000,137292.000000,846.000000,24.000000

In [11]:
Patient.describe(include=['O'])

,Patient_ID,Sex,Initial_measurement_date,Final_measurement_date,Initial_biochemical_parameters_date,Final_biochemical_parameters_date
count,736,736,736,736,723,723
unique,736,2,329,173,271,238
top,LIB194146,F,2021-05-19,2022-03-18,2018-02-14,2022-03-08
freq,1,373,13,144,13,15

conto il numero di valori NaN

In [122]:
nan_mask = Patient.isna()
nan_count = nan_mask.sum()

nan_count

Patient_ID                               0
Sex                                      0
Birth_year                               0
Initial_measurement_date                 0
Final_measurement_date                   0
Number_of_days_with_measures             0
Number_of_measurements                   0
Initial_biochemical_parameters_date     13
Final_biochemical_parameters_date       13
Number_of_biochemical_parameters        13
Number_of_diagnostics                  225
dtype: int64

## Diagnostics

In [13]:
Diagnostics

     Patient_ID    Code                                        Description
0     LIB193263   272.4               Other and unspecified hyperlipidemia
1     LIB193264   354.0                             Carpal tunnel syndrome
2     LIB193264  574.00  Calculus of gallbladder with acute cholecystit...
3     LIB193264  719.41                     Pain in joint, shoulder region
4     LIB193266   253.5                                 Diabetes insipidus
...         ...     ...                                                ...
1752  LIB194161   272.4               Other and unspecified hyperlipidemia
1753  LIB194161   401.9                 Unspecified essential hypertension
1754  LIB194161   435.9            Unspecified transient cerebral ischemia
1755  LIB194161     920   Contusion of face, scalp, and neck except eye(s)
1756  LIB194164   637.9  Unspecified abortion, without mention of compl...

[1757 rows x 3 columns]

In [24]:
Diagnostics.info()
Diagnostics.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Patient_ID   1757 non-null   object
 1   Code         1757 non-null   object
 2   Description  1757 non-null   object
dtypes: object(3)
memory usage: 41.3+ KB

       Patient_ID   Code                          Description
count        1757   1757                                 1757
unique        511    594                                  594
top     LIB193830  244.9  Unspecified acquired hypothyroidism
freq           24     94                                   94

In [39]:
Diagnostics['Description'].value_counts()

Description
Unspecified acquired hypothyroidism                                                                 94
Unspecified essential hypertension                                                                  68
Diabetes with ophthalmic manifestations, type II or unspecified type, not stated as uncontrolled    67
Other and unspecified hyperlipidemia                                                                43
Pure hypercholesterolemia                                                                           21
                                                                                                    ..
Other unspecified back disorders                                                                     1
Lumbosacral spondylosis without myelopathy                                                           1
Hip joint replacement                                                                                1
Mild or unspecified pre-eclampsia, delivered, with or without mention of antepartum condition        1
Nonspecific abnormal electrocardiogram [ECG] [EKG]                                                   1
Name: count, Length: 594, dtype: int64

In [44]:
Number_Description = Diagnostics.groupby('Patient_ID')['Description'].count()
Number_Description

Patient_ID
LIB193263    1
LIB193264    3
LIB193266    2
LIB193267    1
LIB193269    1
            ..
LIB194150    1
LIB194153    1
LIB194159    2
LIB194161    5
LIB194164    1
Name: Description, Length: 511, dtype: int64

In [45]:
Number_Description.describe()

count    511.000000
mean       3.438356
std        2.946519
min        1.000000
25%        1.000000
50%        3.000000
75%        4.000000
max       24.000000
Name: Description, dtype: float64

## Biochemical_parameters

In [25]:
Biochemical

      Patient_ID Reception_date                              Name   Value
0      LIB193265     2018-09-05                         Potassium    4.50
1      LIB193265     2018-09-05                   HDL cholesterol   64.00
2      LIB193265     2018-09-05  Gamma-glutamyl Transferase (GGT)   11.00
3      LIB193265     2018-09-05                        Creatinine    0.90
4      LIB193265     2018-09-05                           Glucose  127.00
...          ...            ...                               ...     ...
87477  LIB194166     2022-02-10                         Potassium    4.20
87478  LIB194166     2022-02-10                        Creatinine    0.82
87479  LIB194166     2022-02-10                   HDL cholesterol   71.00
87480  LIB194166     2022-02-10                     Triglycerides  182.00
87481  LIB194166     2022-02-10                 Total cholesterol  207.00

[87482 rows x 4 columns]

In [26]:
Biochemical.info()
Biochemical.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87482 entries, 0 to 87481
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      87482 non-null  object
 1   Reception_date  87482 non-null  object
 2   Name            87482 non-null  object
 3   Value           87482 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.7+ MB

              Value
count  87482.000000
mean      64.690070
std       89.381967
min       -4.000000
25%        4.300000
50%       24.340000
75%      124.000000
max     6446.740000

In [27]:
Biochemical.describe(include=['O'])

       Patient_ID Reception_date        Name
count       87482          87482       87482
unique        723           1370          17
top     LIB193438     2021-04-14  Creatinine
freq          846            254        8495

In [104]:
nan_mask = Biochemical.isna()
nan_count = nan_mask.sum()

nan_count

Patient_ID        0
Reception_date    0
Name              0
Value             0
dtype: int64

In [54]:
number = Biochemical.groupby(['Patient_ID', 'Name']).size().reset_index(name='Count')
number

      Patient_ID                        Name  Count
0      LIB193265  Alanine transaminase (GPT)     10
1      LIB193265             Albumin (urine)      2
2      LIB193265                    Chlorine     10
3      LIB193265                  Creatinine     10
4      LIB193265          Creatinine (urine)      2
...          ...                         ...    ...
10584  LIB194166                      Sodium      3
10585  LIB194166           Thyrotropin (TSH)      3
10586  LIB194166           Total cholesterol      3
10587  LIB194166               Triglycerides      3
10588  LIB194166                   Uric acid      1

[10589 rows x 3 columns]

In [58]:
number.describe(include=['O'])

       Patient_ID        Name
count       10589       10589
unique        723          17
top     LIB193852  Creatinine
freq           17         723

In [107]:
number.groupby('Patient_ID')['Name'].count()

Patient_ID
LIB193265    15
LIB193266    15
LIB193267    15
LIB193268    15
LIB193272    14
             ..
LIB194162    12
LIB194163    14
LIB194164    15
LIB194165    14
LIB194166    14
Name: Name, Length: 723, dtype: int64

In [56]:
number.groupby(['Name'])['Count'].sum()

Name
Alanine transaminase (GPT)          7134
Albumin (urine)                     4283
Chlorine                            1935
Creatinine                          8495
Creatinine (urine)                  4412
Gamma-glutamyl Transferase (GGT)    6085
Glucose                             8349
Glycated hemoglobin (A1c)           4776
HDL cholesterol                     5062
IA2 ANTIBODIES                        66
Insulin                               64
Potassium                           7853
Sodium                              7814
Thyrotropin (TSH)                   4570
Total cholesterol                   5954
Triglycerides                       5791
Uric acid                           4839
Name: Count, dtype: int64

#### Creatine

In [123]:
creatinine_subset = Biochemical[(Biochemical['Name'] == 'Creatinine')].copy()
creatinine_subset.drop(['Name'], axis=1, inplace=True)
creatinine_subset.describe()

             Value
count  8495.000000
mean      1.044406
std       0.947799
min       0.150000
25%       0.670000
50%       0.800000
75%       1.000000
max      11.550000

In [97]:
creatinine_diagnostic = pd.merge(creatinine_subset, Diagnostics, on='Patient_ID').copy()
creatinine_diagnostic.drop(['Code'], axis=1, inplace=True)
creatinine_diagnostic

,Patient_ID,Reception_date,Value,Description
0,LIB193266,2020-08-21,0.76,Diabetes insipidus
1,LIB193266,2020-08-21,0.76,Other chronic allergic conjunctivitis
2,LIB193266,2020-08-21,0.82,Diabetes insipidus
3,LIB193266,2020-08-21,0.82,Other chronic allergic conjunctivitis
4,LIB193266,2020-08-24,0.73,Diabetes insipidus
...,...,...,...,...
29879,LIB194164,2021-08-26,0.63,"Unspecified abortion, without mention of compl..."
29880,LIB194164,2021-09-20,0.56,"Unspecified abortion, without mention of compl..."
29881,LIB194164,2021-11-19,0.56,"Unspecified abortion, without mention of compl..."
29882,LIB194164,2021-11-23,0.66,"Unspecified abortion, without mention of compl..."
29883,LIB194164,2022-01-12,0.48,"Unspecified abortion, without mention of compl..."

In [ ]:
for description in creatinine_diagnostic['Description'].unique():
    subset = creatinine_diagnostic[creatinine_diagnostic['Description'] == description]
    plt.figure()
    sns.scatterplot(x='Patient_ID', y='Value', data=subset)
    plt.title(f'Scatterplot per \"{description}\"')
    plt.xlabel('Patient_ID')
    plt.ylabel('Value')
    plt.grid(True)
    plt.show()

## Glucouse Measurements

In [28]:
Glucose

         Patient_ID Measurement_date Measurement_time  Measurement
0         LIB193263       2020-06-09         19:08:00           99
1         LIB193263       2020-06-09         19:23:00           92
2         LIB193263       2020-06-09         19:38:00           86
3         LIB193263       2020-06-09         19:53:00           85
4         LIB193263       2020-06-09         20:08:00           85
...             ...              ...              ...          ...
22671703  LIB194166       2022-03-17         15:08:00          169
22671704  LIB194166       2022-03-17         15:23:00          206
22671705  LIB194166       2022-03-17         15:38:00          215
22671706  LIB194166       2022-03-17         15:53:00          204
22671707  LIB194166       2022-03-17         16:08:00          199

[22671708 rows x 4 columns]

In [29]:
Glucose.info()
Glucose.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22671708 entries, 0 to 22671707
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   Patient_ID        object
 1   Measurement_date  object
 2   Measurement_time  object
 3   Measurement       int64
dtypes: int64(1), object(3)
memory usage: 691.9+ MB

        Measurement
count  2.267171e+07
mean   1.647837e+02
std    7.157474e+01
min    4.000000e+01
25%    1.120000e+02
50%    1.530000e+02
75%    2.060000e+02
max    5.000000e+02

In [30]:
Glucose.describe(include=['O'])

       Patient_ID Measurement_date Measurement_time
count    22671708         22671708         22671708
unique        736             1536             1440
top     LIB193554       2022-01-20         07:31:00
freq       137293            45085            16665

In [108]:
nan_mask = Glucose.isna()
nan_count = nan_mask.sum()

nan_count

Patient_ID          0
Measurement_date    0
Measurement_time    0
Measurement         0
dtype: int64